.main-container {
  padding: 1rem;
  grid-column: span 9 / span 9;

  .main-top {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding-left: 1rem;
  }

  .main-movie {
    display: flex;
    overflow: auto;
    margin-left: 1rem;
    white-space: nowrap;
    width: 100%;
  }

  .main-movie::-webkit-scrollbar {
    display: none;
  }

  .main-movie {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .browse-by-category {
    padding-left: 1rem;

    .category-menu {
      margin-left: 1rem;
      display: flex;
    }

    .category-movie {
      display: flex;
      overflow: auto;
      white-space: nowrap;
      // width: 100%;
      margin-top: 1rem;
    }

    .category-movie::-webkit-scrollbar {
      display: none;
    }

    .category-movie {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

.main-movie > * + * {
  margin-left: 2rem;
}

.category-movie > * + * {
  margin-left: 1rem;
}
