.main-movie-card {
  width: 500px;
  color: grey;

  .main-poster {
    height: 250px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    img {
      object-fit: fill;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }

    .watch-trailer {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 333;
      display: flex;
      align-items: center;
      margin: 1rem;
      margin-right: 20px;
      color: white;

      img {
        border-radius: 0;
      }
    }
  }

  .main-info {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    width: 484px;

    .left {
      padding: 0;

      h2 {
        margin: 1rem 0;
        color: black;
      }

      .movie-info {
        :nth-child(2) {
          padding: 0 10px;
        }
      }

      .movie-rating {
        display: flex;
        align-items: center;
        padding: 10px 0;
        img {
          margin: 10px 0;
        }

        :nth-child(2) {
          padding: 0 8px;
        }
      }
    }

    .right {
      margin: 1rem 1rem;

      :nth-child(1) {
        padding-right: 10px;
      }
    }
  }
}
